
@use 'cardHover';
@use 'dl';
@use 'ueda';
@use 'herobg';
@use 'variable-overrides';

@import "bootstrap/scss/bootstrap";


html {
    overflow-y: scroll;
}

img {
  max-width: 100%;
  height: auto; /* これを追加 */
}