@use 'cardHover';
@use 'dl';
@use 'herobg';
@import 'bootstrap/scss/bootstrap';

html {
  overflow-y: scroll;
}

img {
  max-width: 100%;
  height: auto;
}

.contact-form {
  input,
  textarea,
  select {
    width: 100%;
    max-width: 100%;
    display: block;
  }

  // チェックボックスは横並びに
  input[type='checkbox'] {
    width: auto;
    display: inline-block;
    margin-right: 0.5rem;
  }
}
