---
import Layout from '../components/Layout.astro'
---

<Layout title="404 Not Found">
  <section class="container text-center" style="padding: 100px 0;">
    <h1 class="display-1 fw-bold">404</h1>
    <p class="lead mb-5">お探しのページは見つかりませんでした。</p>
    <a href="/" class="btn btn-outline-primary px-5 py-3"> ホームへ戻る </a>
  </section>
</Layout>
