---
interface Props {
  title?: string
  frontmatter?: any
  showBanner?: boolean
}

import Navbar from './Navbar.astro'
import Footer from './Footer.astro'
import TopBanner from './TopBanner.astro'
// import Sidebar from './Sidebar.astro'
import '../styles/global.scss'

const { title, frontmatter, showBanner = true } = Astro.props
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="favicon.png" type="image/png" />

    <title>{title || frontmatter?.title}</title>
  </head>
  <body>
    <Navbar />
    <div id="content" class="">
      {showBanner && <TopBanner />}
      <div>
        <main>
          <slot />
        </main>
      </div>
    </div>
    <Footer />

    <script>
      import 'bootstrap/dist/js/bootstrap.bundle.min.js'
    </script>
  </body>
</html>
