<header class="py-4 mb-0 border-bottom" style="background-size: contain; background-color:#1A1E21;color:white;">
  <div class="container">スマホ・タブレットの有効活用、クラウドのコンサルティングはお任せください。栃木県宇都宮市においてITコンサルティングを行っております。</div>

  <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
    <!-- 左側：ロゴ＆キャッチコピー -->
    <div class="text-center text-md-start mb-3 mb-md-0">
      <a href="/" style="text-decoration: none; color: inherit;">
        <h1 class="h3 fw-bold mb-2" style="font-size: 2.5em;">
          <span style="font-weight: 900;">株式会社ほたか</span>
        </h1>
      </a>
    </div>
  </div>
</header>
